header {
  display: flex;
  background-color: #ADD8E6;
}

.container-header {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #DAA521;
  display: flex;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-header > nav {
flex-grow: 1;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.container-header > .logo {
display: flex;
align-items: center;
padding-left: 10px;
}
.container-header > .login {
display: flex;
align-items: center;
flex-direction: row-reverse;
padding-right: 10px;
}

.container-header>* {
border: 2px dashed black;
min-width: 300px;
}

a {
text-decoration: none;
padding: 5px;
}

.section-blue {
  background-color: #00008B;
  height: 400px;
  padding: 25px;
}

.container-pink {
  max-width: 700px;
  margin: auto;
  background-color: #EE81EE;
  height: 350px;
  border: 2px dashed black;  
}
