header {
  display: flex;
  background-color: #ADD8E6;
}

.container-header {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #DAA521;
  display: flex;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-header > nav {
flex-grow: 1;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.container-header > .logo {
display: flex;
align-items: center;
padding-left: 10px;
}
.container-header > .login {
display: flex;
align-items: center;
flex-direction: row-reverse;
padding-right: 10px;
}

.container-header>* {
border: 2px dashed black;
min-width: 300px;
}

a {
text-decoration: none;
padding: 5px;
}

.section-blue {
  background-color: #00008B;
  height: 350px;
  padding: 25px;
}

.container-pink {
  max-width: 600px;
  margin: auto;
  background-color: #EE81EE;
  height: 300px;
  border: 2px dashed black;  
}

.section-white {
  background-color: #ffffff;
  max-width: 900px;
  display: flex;
  margin: auto;
  border: 2px dashed black;
  margin-top: 20px;
  margin-bottom: 20px;

}

.column-dodger-blue {
  background-color: #1D90FF;
  flex-grow: 1;
  height: 350px;
}

.column-pink {
  background-color: #FFC1CB;
  width: 350px;
  height: 350px;
}







.section-gray {
  background-color: #999696;
  max-width: 900px;
  display: flex;
  margin: auto;
  border: 2px dashed black;
  margin-top: 20px;
  margin-bottom: 20px;

}

.column-dodger-blue {
  background-color: #1D90FF;
  flex-grow: 1;
  height: 350px;
}

.column-pink {
  background-color: #FFC1CB;
  width: 350px;
  height: 350px;
}

